body {
    background-color: blue;
    margin: 0;
    overflow: hidden;
}

#fish-food-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#fish-food {
    display: block;
    transition: transform 0.5s ease-in-out;
}

#fish-food:hover {
    transform: rotate(120deg);
}

#fishbowl-container {
    position: fixed;
    top: 100px; /* Adjust as needed to position below the fish food */
    left: 50%;
    transform: translateX(-50%);
}

#fishbowl {
    width: 1000px;
}

#beta-fish {
    position: absolute;
    width: 100px; /* Adjust as needed */
    animation: float 5s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.flake {
    position: absolute;
    width: 30px;
}
